.toolbar {
  /* position: fixed; */
  width: 100%;
  background: #ffffff;
  /* height: 56px; */
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  /* border-bottom: 1px solid black; */
  color: rgb(4, 17, 29);
  font-family: 'Poppins', sans-serif, Roboto;
}
.toolbar_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5rem;
}
.toolbar_logo {
  padding: 1rem;  
}

.toolbar_logo div {
  /* color: rgb(150, 52, 189); */
  text-decoration: none !important;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.toolbar_navigation_items ul {
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.toolbar_navigation_items li {
  padding: 0 0.5rem;
}

.toolbar_navigation_items a {
  color: #000;
  text-decoration: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
  color: #fa923f;
}
.spacer {
  flex: 1;
}
@media (max-width: 1000px) {
  .toolbar_navigation {
    padding: 0 1.5rem;
  }
}
@media (max-width: 768px) {
  .toolbar_navigation_items {
    display: none;
  }
}
@media (min-width: 769px) {
  .toggle_toolbar_button {
    display: none;
  }
  .toolbar_logo {
    margin-left: 0;
  }
}
